@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@media (min-width: 320px) {
  nav .collapse .navbar-nav .nav-item a {
    font-size: 2em;
    padding: 0;
    border: none;
  }
  .header {
    margin-top: 2em;
    overflow-x: hidden;
  }
  .header .section1 .text-container .header-title {
    user-select: none;
    margin-top: 0.5em;
    font-size: 2.5em;
    text-align: center;
  }
  .header .section1 .text-container .header-desc {
    user-select: none;
    font-size: 1.25em;
    margin: 1.5em 0.5em;
    text-align: start;
  }
  .header .section1 .btn-container {
    gap: 1em;
  }
  .header .section1 .btn-container a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.25em 1em;
    font-size: 1em;
  }
  .header .section1 .btn-container a:active {
    background-color: #1f7247;
  }
  .header .section2 .text-container .header-title {
    user-select: none;
    font-size: 2.5em;
    text-align: center;
  }
  .header .section2 .text-container .header-desc {
    text-align: start;
    user-select: none;
    font-size: 1.25em;
    margin: 1.5em 0.5em;
  }
  .header .section2 .text-container a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 5em;
    font-size: 1em;
  }
  .header .section2 .text-container a:active {
    background-color: #1f7247;
  }
  .header .section3b .header-title {
    user-select: none;
    font-size: 2.5em;
    text-align: center;
  }
  .header .section3b .card-container {
    margin: 1.5em 0.5em 0 0.5em;
  }
  .header .section3b .card-container .card {
    margin-top: 1em;
  }
  .header .section3b .btn-container {
    gap: 1em;
    margin-top: 1em;
  }
  .header .section3b .btn-container a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.25em 2em;
    font-size: 1em;
  }
  .header .section3b .btn-container a:active {
    background-color: #1f7247;
  }
  .header .section4 .header-title {
    user-select: none;
    font-size: 2.5em;
    text-align: center;
  }
  .header .section4 a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.25em 2em;
    font-size: 1em;
  }
  .header .section4 a:active {
    background-color: #1f7247;
  }
  .header .section5 .header-title {
    user-select: none;
    font-size: 2.5em;
    text-align: center;
  }
  .header .section5 .form-container {
    margin: 1.62em 0;
  }
  .header .section5 .form-container .input-group {
    margin-bottom: 1em;
  }
  .header .section5 .form-container .input-group .msg {
    text-align: center;
    height: 10em;
  }
  .header .section5 a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 5em;
    font-size: 1em;
  }
  .header .section5 a:active {
    background-color: #1f7247;
  }
  .footer {
    margin-top: 2em;
    justify-content: center;
  }
  .footer .info-container {
    margin: auto;
  }
  .footer .info-container span {
    text-align: center;
    font-size: 1.25em;
  }
  .footer .socials-container {
    margin: auto;
  }
  .footer .socials-container li a svg {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  nav .collapse .navbar-nav .nav-item a {
    font-size: 1.25em;
    padding: 0.25em 2em;
    border: 2px solid transparent;
    border-radius: 10px;
  }
  nav .collapse .navbar-nav .nav-item a:hover {
    border-color: #ffffff;
  }
  nav .collapse .navbar-nav .nav-item a:active {
    background-color: #ffffff;
    color: #8e6e53;
  }
  .header .section1 .text-container .header-title {
    user-select: none;
    font-size: 3em;
  }
  .header .section1 .text-container .header-desc {
    user-select: none;
    font-size: 1.5em;
    margin: 1em 2em;
  }
  .header .section1 .btn-container {
    gap: 3em;
  }
  .header .section1 .btn-container a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 2em;
    font-size: 1.5em;
  }
  .header .section1 .btn-container a:hover {
    cursor: pointer;
    background-color: #1f7247;
  }
  .header .section1 .btn-container a:active {
    background-color: #1f5247;
  }
  .header .section2 .img-container {
    margin: auto;
    gap: 5em;
  }
  .header .section2 .img-container img {
    width: 100%;
    border-radius: 10px;
  }
  .header .section2 .text-container .header-title {
    user-select: none;
    font-size: 3em;
  }
  .header .section2 .text-container .header-desc {
    user-select: none;
    font-size: 1.5em;
    margin: 1em 2em;
  }
  .header .section2 .text-container a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 10em;
    font-size: 1.5em;
  }
  .header .section2 .text-container a:hover {
    cursor: pointer;
    background-color: #1f7247;
  }
  .header .section2 .text-container a:active {
    background-color: #1f5247;
  }
  .header .section3 .header-title {
    user-select: none;
    font-size: 3em;
  }
  .header .section3 .carousel {
    margin-top: 2em;
  }
  .header .section3 .carousel .carousel-inner .carousel-item .img-container .carousel-caption h5 {
    font-size: 2em;
  }
  .header .section3 .btn-container {
    gap: 3em;
    margin-top: 2em;
  }
  .header .section3 .btn-container a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 2em;
    font-size: 1.5em;
  }
  .header .section3 .btn-container a:hover {
    cursor: pointer;
    background-color: #1f7247;
  }
  .header .section3 .btn-container a:active {
    background-color: #1f5247;
  }
  .header .section4 .card-group {
    width: 75%;
  }
  .header .section4 a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 2em;
    font-size: 1.5em;
  }
  .header .section4 a:hover {
    cursor: pointer;
    background-color: #1f7247;
  }
  .header .section4 a:active {
    background-color: #1f5247;
  }
  .header .section5 .header-title {
    user-select: none;
    font-size: 2.5em;
    text-align: center;
  }
  .header .section5 .form-container {
    width: 50%;
    margin: 15em 0 0.45em 0;
  }
  .header .section5 .form-container .input-group {
    margin-bottom: 1em;
  }
  .header .section5 .form-container .input-group .msg {
    text-align: center;
    height: 15em;
  }
  .header .section5 a {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 10em;
    font-size: 1.5em;
  }
  .header .section5 a:hover {
    cursor: pointer;
    background-color: #1f7247;
  }
  .header .section5 a:active {
    background-color: #1f5247;
  }
  .footer {
    margin-top: 2em;
    justify-content: space-between;
  }
  .footer .info-container {
    margin-left: 2em;
  }
  .footer .info-container span {
    text-align: center;
    font-size: 1.25em;
  }
  .footer .socials-container {
    margin-right: 2em;
  }
  .footer .socials-container li a svg {
    width: 40px;
    height: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

nav {
  background-color: #8e6e53;
}
nav .collapse .navbar-nav {
  gap: 1em;
}
nav .collapse .navbar-nav .nav-item a {
  user-select: none;
  color: #ffffff;
  cursor: pointer;
}

.header .section1 .text-container .header-title {
  color: #1f5247;
}
.header .section1 .text-container .header-desc {
  color: #1f5247;
}
.header .section1 .btn-container a {
  text-decoration: none;
  color: #ffffff;
  background-color: #1f5247;
  border-radius: 10px;
}
.header .section2 .img-container img {
  width: 100%;
  border-radius: 10px;
}
.header .section2 .text-container .header-title {
  color: #1f5247;
}
.header .section2 .text-container .header-desc {
  color: #1f5247;
}
.header .section2 .text-container a {
  text-decoration: none;
  color: #ffffff;
  background-color: #1f5247;
  border-radius: 10px;
}
.header .section3 .header-title {
  text-align: center;
  user-select: none;
  color: #1f5247;
}
.header .section3 .carousel .carousel-inner .carousel-item .img-container {
  user-select: none;
}
.header .section3 .carousel .carousel-inner .carousel-item .img-container img {
  border-radius: 25px;
}
.header .section3 .carousel .carousel-inner .carousel-item .img-container .carousel-caption h5 {
  font-size: 2em;
}
.header .section3 .btn-container a {
  text-decoration: none;
  user-select: none;
  color: #ffffff;
  background-color: #1f5247;
  border-radius: 10px;
}
.header .section3b .header-title {
  text-align: center;
  user-select: none;
  color: #1f5247;
}
.header .section3b .card-container .card .card-body {
  user-select: none;
  color: #1f5247;
}
.header .section3b .btn-container a {
  text-decoration: none;
  user-select: none;
  color: #ffffff;
  background-color: #1f5247;
  border-radius: 10px;
}
.header .section4 {
  gap: 1em;
}
.header .section4 .header-title {
  text-align: center;
  user-select: none;
  color: #1f5247;
}
.header .section4 .card-group {
  gap: 1em;
}
.header .section4 .card-group .card .card-body {
  user-select: none;
  color: #1f5247;
}
.header .section4 a {
  text-decoration: none;
  user-select: none;
  color: #ffffff;
  background-color: #1f5247;
  border-radius: 10px;
}
.header .section5 .header-title {
  text-align: center;
  user-select: none;
  color: #1f5247;
}
.header .section5 a {
  text-decoration: none;
  user-select: none;
  color: #ffffff;
  background-color: #1f5247;
  border-radius: 10px;
}

.footer {
  background-color: #8e6e53;
}
.footer .info-container span {
  user-select: none;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
